{% extends "base.html" %}
{% block title %}Ajouter Utilisateurs{% endblock title %}
{% block main %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Ajouter Staff</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                {% url 'add_staff_save' as action_path %}
                {% include 'adminpage/form_template.html' with messages=messages form=form action_path=action_path button_text="Add Staff" %}
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main %}