{% extends "base.html" %}
{% load static %}


{% block main %}


<div class="row">
                    <div class="col-lg-12">

                        <div class="card mt-3">
                            <div class="card-header"> <strong></strong> <span class="float-end">
                                    <a  href="{% url 'bordereau_admin_pdf' id=obj.id %} " class="btn btn-info">
    										<i class="icon-printer"></i> PDF
    									</a></span> </div>
                            
                                <div class="d-flex justify-content-center font-roboto">

</div>
<div  style="width: 400px;height: 150px; border: 1px solid black; border-radius: 25px; margin-left: 100px; margin-top: 100px;">
    <h4 style="line-height: 1em; margin-top: 10px; margin-left: 10px;">Nom du Client : {{ obj.client.prenom }} {{ obj.client.nom }}</h4><br>
    <h4 style="line-height: 0.1em;margin-left: 10px; ">Adresse :  {{ obj.client.adresse}}</h4><br>
    <h4 style="line-height: 1em; margin-left: 10px;"><i class="fas fa-phone"></i>: {{ obj.client.telephone }}</h4><br>

</div>
<br><br><br><br>
<div style="width: 500px; margin-left: 300px;">
    <h3>MADAME CISS CHEF DU GROUPE DES LABORATOIRES D'ANALYSES DU MINISTERE DES MINES ET DE LA GEOLOGIE</h3>
</div>

                                <br><br><br><br><br><br>
                                
                                <div class="row">
                                    <h4 style="margin-left: 80px;"><u>Objet:</u> Demande de Test</h4>
                                    <br><br>
                                    <h5 style="margin-left: 80px;" >Je viens par cette presente demander un test de contrôle des métaux précieux sur <strong>{{obj.get_total_quantities}} lingots</strong></h5>


                                    <div style="flex-direction: initial; margin: 80px;">
                                   <h4>Bonne Reception</h4>
                                   <h4>DEMANDEUR</h4>
                                   <p style="line-height: 0.5em; margin-left: 700px;">Dakar, le {{ obj.date_creation | date:"d/m/Y"}}</p>

                                    </div>




                                    <hr>
                                    <p style="text-align: center;" > IST Avenue Cheikh Anta Diop *ex batiment BRGM 2éme étage tel: 33 868 69 94 *Dakar-senegal <br><br> <strong> EmaiL GLA</strong> <u>:Aminata.diouf@minesgeologie.gouv.sn <br> gla@minesgeologie.gouv.sn </u></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
       {% endblock main %}