{% extends "base.html" %}
{% load static %}
{% block title %}Liste Client{% endblock title %}


{% block main %}

<div class="row">
    <!-- <div class="d-flex align-items-center">
        <a href="{% url 'add_client' %}" class="btn btn-primary btn-sm ms-2">+ Add Client</a>
    </div> -->

    <br>
    <div class="col-xl-12">
        <div class="card dz-card" id="accordion-one">
            <div class="card-header flex-wrap">
                <div>
                    <h4 class="card-title">Gestion des Clients</h4>
                </div>
                
            </div>
            <!--tab-content-->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Preview" role="tabpanel" aria-labelledby="home-tab">
                 <div class="card-body pt-0">
                    <div class="table-responsive"> 
                  
                        <table id="user-tbl" class="table shorting">
                            <thead>
                            <tr>
                                <th>Prenom</th>
                                <th>Nom</th>
                                <th>Adresse</th>
                                <th>Telephone</th>
                                <th>Email</th>
                                <th>Sexe</th>
                                <th>Ajouter Par</th>
                                <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for fr in client %}
                            <tr>

                                <td>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0 ms-2">{{fr.prenom}} </p>	
                                    </div>
                                </td>

                                <td>{{fr.nom}}</td>
                                <td>{{fr.adresse}}</td>
                                <td>{{fr.telephone}}</td>
                                <td>{{fr.email}}</td>
                                <td>{{fr.sexe}}</td>
                                <td>{{fr.staff.admin.first_name}} {{fr.staff.admin.last_name}}</td>
                                <td>
                                    <div class="dropdown">
                                        <div class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right" style="">
                                            <a class="dropdown-item" href="">Modifier</a>
                                            <a class="dropdown-item" href="">Supprimer</a>
                                            {% comment %} <a class="dropdown-item" href="javascript:void(0);">Delete</a> {% endcomment %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                        
                    </table>
                </div>
               </div>
            </div>
        
            </div>
        </div>
    </div>
</div>

{% endblock main %}