{% extends "base.html" %}
{% load static %}

{% block title %}

Liste Facture Staff
  
{% endblock title %}

{% block main %}


<div class="row">
                    <div class="col-lg-12">

                        <div class="card mt-3">
                            <div class="card-header"> <strong></strong> <span class="float-end">
                                    <a  href="{% url 'facture_pdf' id=obj.id %} " class="btn btn-info">
    										<i class="icon-printer"></i> PDF
    									</a></span> </div>
                            <div class="card-body">
                                     <div  class="d-flex mb-5">
                                    
                                    <div style="line-height: 1em; margin-left: 20px; margin-top: 20px">
                                        <h3 style="line-height: 1em; margin-left: 20px;"> REPUBLIQUE DU SENEGAL &nbsp;&nbsp; N° 0{{ obj.id }} <img  style="width: 30px; height: 20px;margin-left: 170px;" src="{% static "images/senegal.png" %}" alt="" ></h3>
                                        <p style="line-height: 0.5em; margin-left: 60px;">Un Peuple Un But Une Foi</p>
                                        <p style="line-height: 0.2em; margin-left: 100px;">**********</p>
                                        <h3 style="line-height: 1em;">MINISTERE DES MINES</h3>
                                        <h3 style="line-height: 0.1em; margin-left: 15px;">ET DE LA GEOLOGIE</h3>
                                        <p style="line-height: 2em; margin-left: 80px;"> <strong> ********** </strong></p>
                                        
                                        <h3 style="line-height: 0.1em; ">DIRECTION DE LA GEOLOGIE</h3>
                                        <p style="line-height: 1em; margin-left: 80px;"> <strong> ********** </strong></p>

                                        <h3 style="line-height: 1em;">DIVISION DU GROUPE DES</h3>
                                        <h3 style="line-height: 0.1em; ">LABORATOIRES D'ANALYSES</h3>
                                        <h3 style="line-height: 1em;margin-left: 60px;"><i class="fas fa-phone"></i> 33 868 69 94</h3>


                                    </div>

                                        <div class="row align-items-center">

                                            <div style="width: 180px; height: 180px; margin-left: 300px;margin-top: 20px" class="col-sm-3 mt-3"> 
                                                <h4 style="margin-top: -32px">/MMG/DGéol/GLA/</h4>
                                                <p style="line-height: 0.5em; ">Dakar, le {{ obj.date_creation | date:"d/m/Y"}}</p>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="d-flex justify-content-center font-roboto">
  <h2> <u> Facture </u></h2>
  <br>

  



</div>
<div  style="width: 600px;height: auto; border: 1px solid black; border-radius: 25px; margin-left: 200px;">
    <h4 style="line-height: 1em; margin-top: 10px; margin-left: 10px;">Nom du Client : {{ obj.client.prenom }} {{ obj.client.nom }}</h4><br>
    <h4 style="line-height: 1em; margin-left: 10px;">Référence de l'Aggrément n°: {{ obj.client.num_aggregation }}</h4><br>
    <h4 style="line-height: 1em; margin-left: 10px;">MFB/DMC/DER/NDD</h4><br>
    <h4 style="line-height: 1em; margin-left: 10px;">Du 08 février 2023</h4><br>
    <h4 style="line-height: 0.1em;margin-left: 10px; ">Adresse :  {{ obj.client.adresse}}</h4><br>
    <h4 style="line-height: 1em; margin-left: 10px;"><i class="fas fa-phone"></i>: {{ obj.client.telephone }}</h4><br>

</div>
                                <br><br><br><br><br><br>
                                <div class="table-responsive" style="width: 900px; margin-left: 100px;">
                                    <table class="table table-border">
                                        <thead style="border: 1px solid black;">
                                            <tr style="border: 1px solid black;">
                                                
                                                <th style="border: 1px solid black;">Designation</th>
                                                <th class="center" style="border: 1px solid black;"> Poids en Gramme</th>
                                                <th class="center" style="border: 1px solid black;"> Titre en caracts</th>
                                                <th class="right" style="border: 1px solid black;">Prix Unitaire</th>
                                                <th class="right" style="border: 1px solid black;">Total(FCfa)</th>
                                            </tr>
                                        </thead>
                                        <tbody  style="border: 1px solid gray;">
                                        {% for article in articles %}
                                            <tr>
                                                
                                                <td class="left strong" style="border: 1px solid gray;">{{ article.name }}</td>
                                                <td class="right" style="border: 1px solid gray;">{{ article.quantity }}</td>
                                                <td class="right" style="border: 1px solid gray;">{{ article.titre_en_caract }}</td>
                                                <td class="center" style="border: 1px solid gray;">{{ article.unit_price}}</td>
                                                <td class="right" style="border: 1px solid gray;">{{ article.get_total }}</td>
                                            </tr>
                                        {% endfor %}



                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-sm-"> </div>
                                    
                                    <br>
                                    <br>

                                    <h5 style="margin-left: 40px;" >Arrete cette presente facture a la somme de : <strong>{{obj.get_total}} Fcfa({{obj.numwords}} )</strong> Francs cfa</h5>


                                    <div style="flex-direction: initial; margin: 80px;">

                                        <img style="width: 150px; height: 150px;" src="{% url 'generate_qr' invoice_id=obj.id %}" alt="profile picture">
                                   

                                    </div>


                                    <hr>
                                    <p style="text-align: center;" > IST Avenue Cheikh Anta Diop *ex batiment BRGM 2éme étage tel: 33 868 69 94 *Dakar-senegal <br><br> <strong> EmaiL GLA</strong> <u>:Aminata.diouf@minesgeologie.gouv.sn <br> gla@minesgeologie.gouv.sn </u></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
       {% endblock main %}